body{
    background-image: url("../img/maxresdefault-004.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center;*/
}

#tema{
    color: #e0c033;
    text-transform: uppercase;
    text-align: center;
}

ul{
    margin: auto;

}

#inicio{

    width: 50%;
    float: right;
}

#letra{
    color: #0a3622;
}